.alter,h6{
    color: #f28705;
}
a:hover{
    color: #f28705!important;

}

hr {

    margin-top: 20px;
    margin-bottom: 50px;
}

main {
    padding-left: 20px;
    text-align: center;

}

h1{

    color: #f28705 ;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #034c8c;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f287051d;
}

form> p{
text-align: start;
margin-right: 3px;

}
input{
    margin-left: 15px;
    border-radius: 5px;
}
input:focus{
 background-color: #f287053b;
 box-shadow: 3px 3px  #034c8c75  ;
}
.btn-primary{
   background-color : #034c8c!important;
}

.camp {
    text-align: left;
}