header {
    display: inline;
    align-items: center;


}
main{
    display: flex;
}
.flex {
    display: flex;
}

.bg {
    background-color: rgba(94, 94, 94, 0.548);
}

.container {
    position: relative;
}

.logo {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.logo>img {
    margin-top: 5%;
    width: 30%;
}

.dropdown-item {
    color: #034c8c;
}

.alter{
    color: #f28705;
}

li>p::first-letter {

    color: #f28705;

}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #034c8c;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f287051d;
}
.navbar {
    display: flex !important;
    justify-content: space-around !important;
}
a:hover{
    color: #f28705

}
aside {
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 20%;
    padding: 10px;
}

aside>ul {
    position: sticky;
    top: 0;
    left: 0;
}

ul>h3 {
    text-align: center;
    color: #034c8c;
}

hr {

    margin-top: 20px;
    margin-bottom: 50px;
}

ul>li {

    margin-left: 50px;
}

aside>li {
    color: #70735d;
}

p {
    text-indent: 50px
}


article {
    padding-left: 20px;
    text-align: center;

}

.fe::first-letter {
    color: #034c8c;
    margin-top: 10px;

}

h1>a {
text-decoration: none;
    color: #f28705 ;
}

section>h2 {
    margin-top: 10px;
    color: #f28705;
}
section>p{
    padding: 20px;
    margin: auto;
    text-align: justify;
}
input{
    margin-left: 15px;
    border-radius: 5px;
}
input:focus{
 background-color: #f287053b;
 box-shadow: 3px 3px  #034c8c75  ;
}
.btn-primary{
   background-color : #034c8c!important;
}


h6 {
    color: #f2b705;
}

p>a {
    text-decoration: none;
    color: #70735d;
}

footer {
    padding-top: 20px;
    margin-top: 20px;
    background-color: #034c8c1d;
    display: flex;
    flex-wrap: wrap;
}

#foot>img {
    height: 200px;
}
.foot{
    list-style: none;
    padding-left: 10px;
}
table {
    width: 30%;
}

.camp {
    text-align: left;
}