header {
    display: inline;
    align-items: center;


}

.flex {
    display: flex;
}

.bg {
    background-color: rgba(94, 94, 94, 0.548);
}

.container {
    position: relative;
}

.logo {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.logo>img {
    margin-top: 5%;
    width: 30%;
}
.navbar {
    flex-wrap: wrap;
    display: flex !important;
    justify-content: space-around !important;
}
ul>li {

    margin-left: 50px;
}
.dropdown-item {
    color: #034c8c;
}
.alter{
    color: #f28705;
}
li>p::first-letter {

    color: #f28705;

}

a:hover{
    color: #f28705

}
aside {
    top: 0;
    left: 0;
    margin-top: 10px;
    width: 20%;
    padding: 10px;
}

aside>ul {
    position: sticky;
    top: 0;
    left: 0;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #034c8c;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #f287051d;
}

.card-img-top{
    width: 18rem;
    height: 18rem;
}

ul>h3 {
    text-align: center;
    color: #034c8c;
}

hr {

    margin-top: 20px;
    margin-bottom: 50px;
}



aside>li {
    color: #70735d;
}

p {
    text-indent: 50px
}


article {
    padding-left: 20px;
    text-align: center;

}


.fe::first-letter {
    color: #034c8c;
    margin-top: 10px;

}

h1>a {
text-decoration: none;
    color: #f28705 ;
}

section>h2 {
    padding-top: 20px;
    margin-top: 10px;
    color: #f28705;
}
.baca{
    background-color: #034c8c1d;
}
.bacl{
    background-color: #f287051d;
}

.nowarp{
    position: relative;
    list-style: none;
    display: flex;
    overflow-x: auto;   
 }


.accordion-button ::first-letter {

    color: #f28705;

}

.btn-primary{
    background-color : #034c8c!important;
 }
 
article>p {
    text-align: justify;
}

h6 {
    color: #f2b705;
}

p>a {
    text-decoration: none;
    color: #70735d;
}

footer {
    padding-top: 20px;
    margin-top: 20px;
    background-color: #034c8c1d;
    display: flex;
    flex-wrap: wrap;
}

#foot>img {
    height: 200px;
}
.foot{
    list-style: none;
    padding-left: 10px;
}
table {
    width: 30%;
}

.camp {
    text-align: left;
}